@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@theme {
    --font-display: "JetBrains Mono", monospace;
    --animate-infinite-scroll: infinte-scroll linear 20s infinite;

    @keyframes infinte-scroll {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(calc(-50% - 40px));
        }
    }
}

